.header {
  color: grey;
  border-bottom: 1px solid #f9f9f9;
  padding: 24px;
  background-color: white;
}

.header__icon {
  cursor: pointer;
}
.header__icon:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.2);
}

.header__logo {
  height: 40px;
  width: 90px;
  object-fit: contain;
}

.header > Grid {
  cursor: pointer;
}

.messeges {
  color: gray !important;
}
